@model IEnumerable<Car>

@{
    ViewData["Title"] = "Cars";
}

<h1>Cars</h1>
<p>
    <a asp-controller="home" asp-action="Create">Create New</a>
</p>

<form asp-controller="home" asp-action="Search" method="get">
    <input name="startPrice" placeholder="startPrice"/>
    <input name="endPrice" placeholder="endPrice"/>
    <button type="submit">Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
    </tbody>
</table>